<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jobs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let job of job">
    <ion-card-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img src={{job.company_logo}} ></ion-img>
        </ion-thumbnail>
        <ion-card-title>{{job.company}}</ion-card-title>
      </ion-item>
      <ion-card-subtitle> Created on : {{job.created_at | date }}</ion-card-subtitle>
      <ion-card-title>{{job.title}}</ion-card-title>
      <ion-card-subtitle>{{job.location}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.

    </ion-card-content>
    <ion-button style="float: right;" (click)="viewJobInfo(job.id)" color="success">View Job Info</ion-button>
  </ion-card>
</ion-content>
